@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: rgba(255, 255, 255, 1);
  --text: rgba(0, 0, 0, 1);
  --stroke: rgba(0, 0, 0, 0.5);
  --surface: rgba(0, 0, 0, 0.05);
  --surface-muted: rgba(0, 0, 0, 0.02);
  --highlight: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --stroke: rgba(255, 255, 255, 0.5);
  --surface: rgba(255, 255, 255, 0.1);
  --surface-muted: rgba(255, 255, 255, 0.05);
  --highlight: rgba(255, 255, 255, 0.2);
}

@theme inline {
  --font-sans: var(--font-inter);
  --color-*: initial;
  --color-background: var(--background);
  --color-text: var(--text);
  --color-stroke: var(--stroke);
  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);
  --color-highlight: var(--highlight);
  --radius-*: initial;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-stroke outline-stroke/50;
  }
  body {
    @apply bg-background text-text font-sans;
  }
}
